*~
.DS_Store

# External libraries #
######################
/external/googletest-release-1.7.0
/external/nfs-ganesha-*
/external/ntirpc-*
/external/spdlog-0.14.0

# Vim files #
#############
.clang_complete
tags
*.taghl
compile_commands.json
.ycm_extra_conf.py

# Commonly used build directory #
#################################
/_packages/
/build*
/cmake-build-*
/install/
/test_output/

# Eclipse project files #
#########################
/.project
/.cproject
/.settings

# Jetbrains IDE project files #
###############################
/.idea

# KDevelop4 project file #
##########################
*.kdev4

# QtCreator user profiles #
###########################
*.user

# Debian builds #
#################
/Makefile
/debian/files
/debian/*.debhelper
/debian/*.substvars
/debian/*.debhelper.log
/debian/debhelper-build-stamp
/debian/saunafs-adm/
/debian/saunafs-cgi/
/debian/saunafs-cgiserv/
/debian/saunafs-chunkserver/
/debian/saunafs-client/
/debian/saunafs-client3/
/debian/saunafs-common/
/debian/saunafs-dbg/
/debian/saunafs-lib-client/
/debian/saunafs-master/
/debian/saunafs-metalogger/
/debian/saunafs-nfs-ganesha/
/debian/saunafs-uraft/
/debian/tmp/
/saunafs-bundle-*

# Mypy #
########
.mypy_cache

# VSCode #
##########
.vscode

# clangd #
##########
.cache

# submodules #
##############
src/chunkserver/plugins/zonefs_disk
src/chunkserver/plugins/ice_disk_energy_manager
tests/ci_build/run-smr-tests.sh
tests/test_suites/SMRTests
tests/test_suites/ICETests

# Windows #
###########
src/mount/windows
create-win-release.bat

# Test setup #
##############
tests/hdd*
