Source: saunafs
Section: admin
Priority: extra
Maintainer: SaunaFS <contact@saunafs.com>
Build-Depends: asciidoc (>= 8.6.6),
               debhelper (>= 9),
               cmake (>= 2.8),
               libfuse3-dev,
               pkg-config,
               zlib1g-dev,
               libspdlog-dev,
               libfmt-dev,
               libboost-system-dev,
               libboost-program-options-dev,
               python3,
Rules-Requires-Root: no
Standards-Version: 3.9.3
Homepage: https://saunafs.org/

Package: saunafs-dbg
Architecture: any
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Debugging symbols for SaunaFS
 Debugging symbols for all SaunaFS binaries

Package: saunafs-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         adduser
Conflicts: sfs-common
Replaces: sfs-common
Provides: sfs-common
Description: SaunaFS common files
 Files and services common for all SaunaFS daemons.

Package: saunafs-master
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, saunafs-common
Conflicts: sfs-master
Replaces: sfs-master
Provides: sfs-master
Description: SaunaFS master server
 SaunaFS master (metadata) server.

Package: saunafs-metalogger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, saunafs-common
Conflicts: sfs-metalogger
Replaces: sfs-metalogger
Provides: sfs-metalogger
Description: SaunaFS metalogger server
 SaunaFS metalogger (metadata replication) server.

Package: saunafs-chunkserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, saunafs-common
Conflicts: sfs-chunkserver
Replaces: sfs-chunkserver
Provides: sfs-chunkserver
Description: SaunaFS data server
 SaunaFS data server.

Package: saunafs-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash-completion
Conflicts: sfs-client
Replaces: sfs-client
Provides: sfs-client
Description: SaunaFS client
 SaunaFS clients: sfsmount and sfstools.

Package: saunafs-lib-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SaunaFS client C/C++ library
 SaunaFS client library for C/C++ bindings.

Package: saunafs-nfs-ganesha
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, saunafs-lib-client
Description: SaunaFS plugin for nfs-ganesha
 SaunaFS fsal plugin for nfs-ganesha.

Package: saunafs-adm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SaunaFS administration tools
 SaunaFS administration tools: saunafs-admin

Package: saunafs-cgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         python3
Conflicts: sfs-cgi
Replaces: sfs-cgi
Provides: sfs-cgi
Description: SaunaFS CGI Monitor
 SaunaFS CGI Monitor.

Package: saunafs-cgiserv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, saunafs-cgi,
         python3
Conflicts: sfs-cgiserv
Replaces: sfs-cgiserv
Provides: sfs-cgiserv
Description: Simple CGI-capable HTTP server to run SaunaFS CGI Monitor
 Simple CGI-capable HTTP server to run SaunaFS CGI Monitor.

Package: saunafs-uraft
Architecture: any
Depends: saunafs-master,
         saunafs-adm,
         iputils-arping,
         sudo,
         ${shlibs:Depends},
Description: SaunaFS cluster management tool
 SaunaFS is a distributed filesystem.
 .
 This package offers means for simplified SaunaFS deployment
 on cluster infrastructure.
